{
  "BASE_URL": "{{url}}",
  "AUTH_TOKEN": "{{access_token}}",
  "PILOT_ID": "88001",
  "ENVIRONMENT": "productqa",
  "FUEL_TYPE": "ELECTRIC",
  "UUID": "{{uuid}}",
  "DETO_BASE_URL": "{{deto_url}}",
  "DETO_TOKEN": "{{deto_bearer_token}}",
  "HOME_ID": "1",
  "NHOOD_JAR_PATH": "/opt/bidgely/nhoodServices/onelib/OneJar-core-nhoods-4.0-SNAPSHOT.jar",
  "DB_HOST": "{{env}}-rds.cmlamxremgnb.us-west-2.rds.amazonaws.com",
  "DB_PORT": 3306,
  "DB_NAME": "bidgelydbqa_{{project}}",
  "DB_USER": "{{db_user}}",
  "DB_PASSWORD": "{{db_password}}",
  "DB_SSH_USER": "{{jumphost_ssh_user}}"
}
