INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_001", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_001.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_001", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_001.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_001", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_001.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_001", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_001", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_001", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SLF_E_AO_003", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_AO_003.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_009", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_009.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_009", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_009.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_009", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_009.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_009", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-002_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_009", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-002_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_009", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-002_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_013", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_013.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_013", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_013.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_013", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_013.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_013", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-003_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_013", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-003_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_013", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-003_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_021", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_021.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_021", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_021.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_021", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_021.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_021", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-005_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_021", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-005_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_021", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-AO-005_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_001", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_001.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_001", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_001.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_001", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_001.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_001", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_001", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_001", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_BLL_E_TE_001", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_BLL_E_TE_001.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_005", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_005.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_005", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_005.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_005", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_005.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_005", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-002_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_005", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-002_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_005", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-002_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_009", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_009.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_009", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_009.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_009", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_009.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_009", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-003_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_009", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-003_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_009", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-003_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_013", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_013.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_013", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_013.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_013", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_013.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_013", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-004_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_013", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-004_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_013", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-004_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_017", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_017.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_017", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_017.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_017", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_017.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_017", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-005_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_017", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-005_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_017", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-005_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_021", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_021.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_021", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_021.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_021", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_021.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_021", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-006_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_021", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-006_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_021", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-006_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_025", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_025.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_025", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_025.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_025", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_025.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_025", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-007_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_025", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-007_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_025", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-007_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_029", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_029.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_029", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_029.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_029", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_029.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_029", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-008_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_029", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-008_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_029", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-008_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_033", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_033.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_033", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_033.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_033", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_033.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_033", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-009_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_033", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-009_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_033", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-009_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_037", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_037.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_037", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_037.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_037", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_037.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_037", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-010_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_037", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-010_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_037", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_T-E-RF-010_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_025", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_025.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_025", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_025.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_025", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_025.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_025", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_A_A_E_AO_001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_025", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_A_A_E_AO_001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_025", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_A_A_E_AO_001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SLF_E_AO_002", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_AO_002.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_026", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_026.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_026", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_026.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_026", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_026.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_026", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_A_A_E_AO_002_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_026", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_A_A_E_AO_002_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_AO_026", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_A_A_E_AO_002_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_051", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_051.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_051", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_051.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_051", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_051.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_051", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_A_A_E_RF_001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_051", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_A_A_E_RF_001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_NBI_EE_A_E_RF_051", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/nbi-20191127/_EE_A_A_E_RF_001_paper.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SHC_E_RF_002", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SHC_E_RF_002.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_001", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_001.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_001", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_001.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_001", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_001.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_001", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_001", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_001", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SHC_E_TE_001", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SHC_E_TE_001.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_004", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_004.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_004", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_004.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_004", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_004.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_004", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_002.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_004", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_002.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_004", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_002.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_006", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_006.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_006", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_006.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_006", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_006.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_006", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_003.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_006", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_003.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_006", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_003.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SLF_E_TE_001", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_TE_001.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_010", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_010.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_010", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_010.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_010", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_010.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_010", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_004.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_010", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_004.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_010", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_004.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SLF_E_TE_003", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_TE_003.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_014", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_014.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_014", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_014.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_014", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_014.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_014", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_005.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_014", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_005.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_014", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_005.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SHC_E_TE_003", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SHC_E_TE_003.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_016", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_016.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_016", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_016.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_016", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_016.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_016", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_006.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_016", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_006.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_016", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_006.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_SH_001", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_SH_001.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_SH_001", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_SH_001.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_SH_001", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_SH_001.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_SH_001", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_SH_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_SH_001", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_SH_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_SH_001", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_SH_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SLF_E_SH_001", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_SH_001.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_018", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_018.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_018", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_018.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_018", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_018.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_018", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_007.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_018", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_007.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_018", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_007.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_020", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_020.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_020", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_020.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_020", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_020.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_020", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_008.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_020", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_008.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_020", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_008.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_EDU_E_TE_005", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_EDU_E_TE_005.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_026", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_026.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_026", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_026.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_026", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_026.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_026", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_008.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_026", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_008.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_TE_026", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_TE_008.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_PP_001", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_PP_001.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_PP_001", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_PP_001.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_PP_001", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_PP_001.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_PP_001", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_PP_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_PP_001", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_PP_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_PP_001", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_PP_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SHC_E_PP_001", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SHC_E_PP_001.insightText", "STRING_RESOURCE", "PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_WH_001", "title", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_WH_001.title", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_WH_001", "shortText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_WH_001.shortText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_WH_001", "longText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_WH_001.longText", "STRING_RESOURCE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_WH_001", "circleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_WH_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_WH_001", "squareIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_WH_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_PSEG_NBI_EE_G_E_WH_001", "rectangleIcon", "https://d13hc4rsp6iv99.cloudfront.net/Psegprogram/PSEG_A_G_E_WH_001.png", "IMAGE","PAPER_NBI");
INSERT INTO nbi_asset_data (entity_id, asset_id, asset_key, asset_value, asset_value_type, asset_type) VALUES ("{{PILOT_ID}}", "MOCK_I_SLF_E_WH_001", "insightText", "com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_WH_001.insightText", "STRING_RESOURCE", "PAPER_NBI");
