 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_001.title -d '[{ "locale": "en_US","text": "Don\u0027t want to keep unplugging?","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_001.shortText -d '[{ "locale": "en_US","text": "Use a Smart Plug! These compact devices allow remote control and scheduling to avoid unnecessary energy use.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_001.longText -d '[{ "locale": "en_US","text": "Use a Smart Plug! These compact devices allow remote control and scheduling to avoid unnecessary energy use.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_AO_003.insightText -d '[{ "locale": "en_US","text": "You used ${Value}% more energy in Always On devices, in the last billing cycle, compared to the same period last year.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_009.title -d '[{ "locale": "en_US","text": "Use a Smart Power Strip to save electricity automatically!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_009.shortText -d '[{ "locale": "en_US","text": "Using a smart power strip is a simple strategy to reduce your phantom power loads and save money.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_009.longText -d '[{ "locale": "en_US","text": "Using a smart power strip is a simple strategy to reduce your phantom power loads and save money.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_013.title -d '[{ "locale": "en_US","text": "Look for ENERGY STAR® rated equipment","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_013.shortText -d '[{ "locale": "en_US","text": "ENERGY STAR certified audio visual equipment is up to 70% more efficient than conventional models.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_013.longText -d '[{ "locale": "en_US","text": "ENERGY STAR certified audio visual equipment is up to 70% more efficient than conventional models.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_021.title -d '[{ "locale": "en_US","text": "Take the weekend off!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_021.shortText -d '[{ "locale": "en_US","text": "If you have a home office, make sure those appliances are turned off on the weekend and when you\u0027re on vacation.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_021.longText -d '[{ "locale": "en_US","text": "If you have a home office, make sure those appliances are turned off on the weekend and when you\u0027re on vacation.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_001.title -d '[{ "locale": "en_US","text": "Adjust your fridge temperature settings","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_001.shortText -d '[{ "locale": "en_US","text": "Set your fridge to between 33°F and 39°F (1°C and 4°C) and save up to 25% on energy use.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_001.longText -d '[{ "locale": "en_US","text": "Set your fridge to between 33°F and 39°F (1°C and 4°C) and save up to 25% on energy use.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_BLL_E_TE_001.insightText -d '[{ "locale": "en_US","text": "We noticed you\u0027ve been using more energy lately. Your last bill increased ${Value}% compared to your previous bill.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_005.title -d '[{ "locale": "en_US","text": "Adjust your freezer temperature settings","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_005.shortText -d '[{ "locale": "en_US","text": "Freezer temperatures between 0°F and 5°F (-18°C and -15°C) keep your food safely frozen.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_005.longText -d '[{ "locale": "en_US","text": "Freezer temperatures between 0°F and 5°F (-18°C and -15°C) keep your food safely frozen.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_009.title -d '[{ "locale": "en_US","text": "Vacuum the coils at the back of your fridge","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_009.shortText -d '[{ "locale": "en_US","text": "Keeping the coils on your refrigerator clean increases the efficiency of your appliance.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_009.longText -d '[{ "locale": "en_US","text": "Keeping the coils on your refrigerator clean increases the efficiency of your appliance.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_013.title -d '[{ "locale": "en_US","text": "Allow minimum clearance around your fridge","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_013.shortText -d '[{ "locale": "en_US","text": "Make sure there is enough air space between your fridge coils and the wall. This will allow your refrigerator to operate at maximum efficiency.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_013.longText -d '[{ "locale": "en_US","text": "Make sure there is enough air space between your fridge coils and the wall. This will allow your refrigerator to operate at maximum efficiency.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_017.title -d '[{ "locale": "en_US","text": "Make sure your fridge has a tight seal","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_017.shortText -d '[{ "locale": "en_US","text": "If you don\u0027t have a tight seal around the refrigerator door, it’s like leaving the door open. It is absolutely necessary to ensure your fridge isn\u0027t wasting energy.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_017.longText -d '[{ "locale": "en_US","text": "If you don\u0027t have a tight seal around the refrigerator door, it’s like leaving the door open. It is absolutely necessary to ensure your fridge isn\u0027t wasting energy.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_021.title -d '[{ "locale": "en_US","text": "Buy a smart refrigerator","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_021.shortText -d '[{ "locale": "en_US","text": "Smart refrigerators can alert you to when the refrigerator door has been left open and reduce energy use.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_021.longText -d '[{ "locale": "en_US","text": "Smart refrigerators can alert you to when the refrigerator door has been left open and reduce energy use.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_025.title -d '[{ "locale": "en_US","text": "Keep your fridge full!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_025.shortText -d '[{ "locale": "en_US","text": "Full shelves help your refrigerator maintain a cold temperature better than empty shelves.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_025.longText -d '[{ "locale": "en_US","text": "Full shelves help your refrigerator maintain a cold temperature better than empty shelves.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_029.title -d '[{ "locale": "en_US","text": "Use a second refrigerator wisely","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_029.shortText -d '[{ "locale": "en_US","text": "An estimated 15% of homes have a second fridge. Unplug it when you\u0027re not using it!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_029.longText -d '[{ "locale": "en_US","text": "An estimated 15% of homes have a second fridge. Unplug it when you\u0027re not using it!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_033.title -d '[{ "locale": "en_US","text": "Don\u0027t make your fridge sweat!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_033.shortText -d '[{ "locale": "en_US","text": "Avoid putting your refrigerator it in the garage or anywhere hot during summer, as it will have to work a lot harder.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_033.longText -d '[{ "locale": "en_US","text": "Avoid putting your refrigerator it in the garage or anywhere hot during summer, as it will have to work a lot harder.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_037.title -d '[{ "locale": "en_US","text": "Keep your food covered","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_037.shortText -d '[{ "locale": "en_US","text": "Cover the food in your fridge to avoid moisture buildup which puts stress on the compressor.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_037.longText -d '[{ "locale": "en_US","text": "Cover the food in your fridge to avoid moisture buildup which puts stress on the compressor.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_025.title -d '[{ "locale": "en_US","text": "Did you know smart power strips can be controlled by your voice or a smartphone app?","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_025.shortText -d '[{ "locale": "en_US","text": "Some even have motion sensors! Finding the right one that matches your needs can help you enjoy greater savings and more control in your home!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_025.longText -d '[{ "locale": "en_US","text": "Some even have motion sensors! Finding the right one that matches your needs can help you enjoy greater savings and more control in your home!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_AO_002.insightText -d '[{ "locale": "en_US","text": "Your Always On (24/7 energy consuming) device usage increased by ${Value}% in the last billing cycle.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_026.title -d '[{ "locale": "en_US","text": "Automate shutdown of unused devices","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_026.shortText -d '[{ "locale": "en_US","text": "Advanced power strips have the ability to automatically shut off devices when not in use.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_AO_026.longText -d '[{ "locale": "en_US","text": "Advanced power strips have the ability to automatically shut off devices when not in use.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_051.title -d '[{ "locale": "en_US","text": "Look for efficient appliances","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_051.shortText -d '[{ "locale": "en_US","text": "Did you know ENERGY STAR certified top-mounted freezer models are generally the most efficient?","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_NBI_EE_A_E_RF_051.longText -d '[{ "locale": "en_US","text": "Did you know ENERGY STAR certified top-mounted freezer models are generally the most efficient?","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SHC_E_RF_002.insightText -d '[{ "locale": "en_US","text": "${Value}% of similar homes used less energy for Refrigeration than you consumed in the last billing cycle.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_001.title -d '[{ "locale": "en_US","text": "Use a Smart Power Strip to save automatically!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_001.shortText -d '[{ "locale": "en_US","text": "An advanced power strip can help you reduce “phantom power” used by electronics when off but still plugged in. Buy now at bit.ly/pseglipowerstrip","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_001.longText -d '[{ "locale": "en_US","text": "An advanced power strip can help you reduce “phantom power” used by electronics when off but still plugged in. Buy now at bit.ly/pseglipowerstrip","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SHC_E_TE_001.insightText -d '[{ "locale": "en_US","text": "You used ${Value}% more energy than similar efficient homes in the last billing cycle.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_004.title -d '[{ "locale": "en_US","text": "Turn off appliances when you are not at home","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_004.shortText -d '[{ "locale": "en_US","text": "Phantom power could account for up to 10% of total appliance energy usage. Buy now at bit.ly/pseglipowerstrip","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_004.longText -d '[{ "locale": "en_US","text": "Phantom power could account for up to 10% of total appliance energy usage. Buy now at bit.ly/pseglipowerstrip","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_006.title -d '[{ "locale": "en_US","text": "Shop online, Save at home.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_006.shortText -d '[{ "locale": "en_US","text": "PSEG Long Island\u0027s online Efficiency Marketplace offers exclusive savings on energy-efficient products such as light bulbs and smart thermostats. Explore and shop anytime at bit.ly/pseglimarketplace.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_006.longText -d '[{ "locale": "en_US","text": "PSEG Long Island\u0027s online Efficiency Marketplace offers exclusive savings on energy-efficient products such as light bulbs and smart thermostats. Explore and shop anytime at bit.ly/pseglimarketplace.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_TE_001.insightText -d '[{ "locale": "en_US","text": "Overall, you used ${Value}% more energy in the last billing cycle, compared to the same period last year","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_010.title -d '[{ "locale": "en_US","text": "Explore your home, start saving energy!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_010.shortText -d '[{ "locale": "en_US","text": "Visit PSEG Long Island’s NEW interactive experience, My Smart Energy Home, to explore different rooms in our home – learn how to make smart energy choices! learn more at bit.ly/mysmartenergy","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_010.longText -d '[{ "locale": "en_US","text": "Visit PSEG Long Island’s NEW interactive experience, My Smart Energy Home, to explore different rooms in our home – learn how to make smart energy choices! learn more at bit.ly/mysmartenergy","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_TE_003.insightText -d '[{ "locale": "en_US","text": "You spent about $${Value} more on your latest bill compared to the same time last year.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_014.title -d '[{ "locale": "en_US","text": "Are You Really Ready for Summer?","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_014.shortText -d '[{ "locale": "en_US","text": "Hurricane season is here! As you plan your summer getaway or “staycation”, remember time spent on hurricane preparedness is a valuable effort. For more tips and resources check out bit.ly/pseglistormsafety.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_014.longText -d '[{ "locale": "en_US","text": "Hurricane season is here! As you plan your summer getaway or “staycation”, remember time spent on hurricane preparedness is a valuable effort. For more tips and resources check out bit.ly/pseglistormsafety.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SHC_E_TE_003.insightText -d '[{ "locale": "en_US","text": "Similar homes to yours are running more efficiently. We found that you used more energy than ${Value}% of similar homes in the last billing cycle.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_016.title -d '[{ "locale": "en_US","text": "Get an In-Home Energy Assessment","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_016.shortText -d '[{ "locale": "en_US","text": "Energy efficiency saves money and enhances home comfort. Schedule a free home energy assessment and learn about exclusive rebates and financing. Call 800-692-2626 or visit bit.ly/pseglienergyassessment","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_016.longText -d '[{ "locale": "en_US","text": "Energy efficiency saves money and enhances home comfort. Schedule a free home energy assessment and learn about exclusive rebates and financing. Call 800-692-2626 or visit bit.ly/pseglienergyassessment","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_SH_001.title -d '[{ "locale": "en_US","text": "Warmer, cooler, cleaner comfort.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_SH_001.shortText -d '[{ "locale": "en_US","text": "Air source heat pumps deliver efficient cooling and heating, with no fuel or emissions. Lower the upfront cost with a rebate from our Home Comfort program. Reach out today! Visit bit.ly/pseglihomecomfort","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_SH_001.longText -d '[{ "locale": "en_US","text": "Air source heat pumps deliver efficient cooling and heating, with no fuel or emissions. Lower the upfront cost with a rebate from our Home Comfort program. Reach out today! Visit bit.ly/pseglihomecomfort","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_SH_001.insightText -d '[{ "locale": "en_US","text": "You spent ${Value}% of your bill on heating, during the last billing cycle. That\u0027s higher than the average user!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_018.title -d '[{ "locale": "en_US","text": "Residential Energy Affordability Partnership (REAP) Program","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_018.shortText -d '[{ "locale": "en_US","text": "Save energy and reduce bills with our REAP Program. Start with a FREE Home Energy Survey. Income-eligible customers receive FREE ENERGY STAR® lighting and appliances. Learn more at bit.ly/psegliREAP.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_018.longText -d '[{ "locale": "en_US","text": "Save energy and reduce bills with our REAP Program. Start with a FREE Home Energy Survey. Income-eligible customers receive FREE ENERGY STAR® lighting and appliances. Learn more at bit.ly/psegliREAP.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_020.title -d '[{ "locale": "en_US","text": "Buy a smart thermostat","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_020.shortText -d '[{ "locale": "en_US","text": "“Learning” models can adjust the temperature automatically based on your household’s activity. Learn more at bit.ly/pseglismartsavers","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_020.longText -d '[{ "locale": "en_US","text": "“Learning” models can adjust the temperature automatically based on your household’s activity. Learn more at bit.ly/pseglismartsavers","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_EDU_E_TE_005.insightText -d '[{ "locale": "en_US","text": "Would you like to save on your bill?","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_026.title -d '[{ "locale": "en_US","text": "Control temperature while you\u0027re away","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_026.shortText -d '[{ "locale": "en_US","text": "Programmable thermostats give homeowners more control over their heating and cooling. Buy now at bit.ly/pseglismartsavers.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_TE_026.longText -d '[{ "locale": "en_US","text": "Programmable thermostats give homeowners more control over their heating and cooling. Buy now at bit.ly/pseglismartsavers.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_PP_001.title -d '[{ "locale": "en_US","text": "Extend your swimming season with a Heat Pump Pool Heater!","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_PP_001.shortText -d '[{ "locale": "en_US","text": "An Energy Efficient Heat Pump Pool Heater rebate can save you up to $600! These heaters typically last longer. Call the PSEG Long Island Energy Infoline at 800-692-2626 or learn more at bit.ly/pseglirebates","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_PP_001.longText -d '[{ "locale": "en_US","text": "An Energy Efficient Heat Pump Pool Heater rebate can save you up to $600! These heaters typically last longer. Call the PSEG Long Island Energy Infoline at 800-692-2626 or learn more at bit.ly/pseglirebates","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SHC_E_PP_001.insightText -d '[{ "locale": "en_US","text": "${Value}% of similar homes used less energy for their Pools than you consumed in the last billing cycle.","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_WH_001.title -d '[{ "locale": "en_US","text": "Save $1,000 on a new, energy efficient water heater","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_WH_001.shortText -d '[{ "locale": "en_US","text": "After heating and cooling, water heating may be your second-largest energy expense. Get a heat pump water heater for big savings and a $1,000 PSEG Long Island rebate! Start here: bit.ly/pseglirebates","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_PSEG_NBI_EE_G_E_WH_001.longText -d '[{ "locale": "en_US","text": "After heating and cooling, water heating may be your second-largest energy expense. Get a heat pump water heater for big savings and a $1,000 PSEG Long Island rebate! Start here: bit.ly/pseglirebates","tags": "her_ui,LP_COMPONENT_HER"}]'`
 echo `curl -X PUT -H "Authorization: Bearer $2" -H "Content-Type: application/json" $1/2.1/stringResources/{{PILOT_ID}}/resource/com.bidgely.cloud.core.lib.paper.nbi.MOCK_I_SLF_E_WH_001.insightText -d '[{ "locale": "en_US","text": "You spent ${Value}% of your bill on water heating, during the last billing cycle. That\u0027s higher than the average user!","tags": "her_ui,LP_COMPONENT_HER"}]'`
